@import 'variables';

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  p {
    font: 300 1.2rem $secondary-font;
    width: 70%;
    text-align: center;
    text-shadow: 3px 2px 2px $black;
    line-height: 1.7;
  }
}

.about_title {
  font: 800 5rem $main-font;
  margin-bottom: 30px;
}
