@import 'variables';

.landing_header {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.landing_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 800 5rem $main-font;
  padding: 1rem;
  z-index: -3;
}

.landing_title {
  color: $white;
  margin: 5rem 0;

  span {
    color: $teal;
  }
}

.landing_text {
  font: 300 2rem $secondary-font;
}