@import 'variables';

.logout_div,
.login_div {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  font: 800 1.2rem 'Raleway', sans-serif;
  transform: scale(0.5);
  transition: all .2s linear;

  form input[type='submit'] {
    padding: 2px 15px;
    border-radius: 5px;
    background-color: $black;
    border: 2px solid $teal;
    color: $teal;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    transition: all .2s linear;
  }

  form input[type='submit']:hover {
    cursor: pointer;
    color: $black;
    background-color: $teal;
  }
}

.hover_div {
  width: 200px;
  height: 200px;
}

.hover_div:hover,
.login_div:hover,
.logout_div:hover {
  transform: scale(1)
}