@import 'variables';

body {
  position: absolute;
  background: url('https://i.imgur.com/gl7VuKQ.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  z-index: -1;
  font: 300 1rem $secondary-font;
  color: $white;
}

html,
body,
#root,
.app_window {
  width: 100%;
  height: 100%;
}

.arrows {
  position: fixed;
  font-size: 54px;
  opacity: 0.6;
}

.left-arrow {
  top: 45%;
  left: 5%;
}

.right-arrow {
  top: 45%;
  right: 5%;
}
