@import 'variables';

body {
  position: absolute;
  background: url('https://i.imgur.com/gl7VuKQ.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  z-index: -1;
  font: 300 1rem $secondary-font;
  overflow: hidden;
  color: $white;
}

html,
body,
#root,
.app_window {
  width: 100%;
  height: 100%;
}