@import 'variables';

body {
  position: absolute;
  background: url('https://i.imgur.com/gl7VuKQ.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  z-index: -1;
  font: 300 1rem $secondary-font;
  overflow: hidden;
  color: $white;
}

html,
body,
#root,
.app_window {
  width: 100%;
  height: 100%;
}

.nav_link {
  display: inline-block;
  color: $teal;
  line-height: 1;
  padding: 10px;
}

.active,
.active a {
  color: $white;
  font-size: 1.4rem;
  // animation: shake .5s linear;
  transition: all .2s linear;
}

.logout_div,
.login_div {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  font: 800 1.2rem 'Raleway', sans-serif;

  input {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: $black;
    border: 2px solid $teal;
    color: $teal;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
  }
}

// @keyframes shake {
//   10% {
//     transform: rotate(-10deg) translate(10px);
//   }

//   30% {
//     opacity: .2;
//     transform: rotate(30deg) translate(-10px);
//   }

//   50% {
//     opacity: 1;
//     transform: rotate(-20deg) translate(10px);
//   }

//   70% {
//     opacity: .2;
//     transform: rotate(25deg) translate(-30px);
//   }

//   100% {
//     opacity: 1;
//     transform: rotate(0) translate(0);
//   }
// }
@keyframes shake {
  0% {
    transform: translate(20px);
    text-shadow: 70px -30px 0 $white;
  }

  // 30% {
  // opacity: .2;
  // transform: rotate(30deg) translate(-10px);
  // }

  50% {
    transform: translate(20px);
    text-shadow: 30px -10px 0 $white;
  }

  // 70% {
  // opacity: .9;
  // transform: rotate(25deg) translate(-30px);
  // }

  100% {
    transform: rotate(0) translate(0);
    text-shadow: none;
  }
}