@import 'variables';

.fa-bars {
  position: absolute;
  font-size: 2rem;
  z-index: 10;
  color: $white;
  padding: 20px;
  transition: all .1s linear;
}

.fa-bars:hover {
  cursor: pointer;
  color: $teal;
}

.hamburgerStyle {
  transform: rotate(90deg);
  color: $teal;
}

.hamburgerStyle:hover {
  color: $white;
}

.navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.nav_link {
  display: inline-block;
  color: $teal;
  padding: 10px;
}

.active,
.active a {
  color: $white;
  font-size: 1.4rem;
  transition: all .2s linear;
}

.logo {
  color: $white;
}

.logo_designs {
  color: $teal;
}

.links_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.navbar_links {
  display: flex;
  font: 300 1.3rem $logo-font;
  opacity: 0;
  margin: 0 70px 0 0;
  z-index: 1;
  transform: scale(0);
  transition: all .4s linear;
  background-color: $black;
  padding: 10px;
  border: 1px solid $white;
  border-radius: 15px;

  .nav_link {
    padding: 10px;
    transition: all .3s linear;
  }

  .nav_link:hover {
    color: $white;
    transform: translateY(-10%);
  }
}

.slideIn {
  opacity: 1;
  transform: scale(1);
}

.slideOut {
  transform: scale(0);
  opacity: 0;
}