// Fonts
$main-font-2: 'Open Sans',
sans-serif;
$secondary-font-2: 'Source Sans Pro',
sans-serif;
// Will try both pairs
$main-font: 'Work Sans',
sans-serif;

$secondary-font: 'Roboto',
sans-serif;

$logo-font: 'Raleway',
sans-serif;

// Colors

// Coolors brights-1
$black: #000;
$drk-grey: #222;
$lt-grey: #aaa;
$white: #fef;
$drk-teal: #02ceb9;
$teal: #37FDFC;
$purple: #540d6e;
$pink: #ee4266;
$green: #0ead69;